!collocation-structures.xml
*.tbl

*.pdf
*.sage.py
*.egg-info

tests/test_data/output/izhod.csv
tests/test_data/output/tmp_collocation_sentence_mapper

.idea
.vscode
__pycache__

run.sh
old
data
venv*
build
